# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

BasedOnStyle: Google

# General
ColumnLimit: 120
Cpp11BracedListStyle: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
UseTab: Never
AllowShortFunctionsOnASingleLine: false

# Pointer definition.
# For consistency, use pointer alignment "int& foo" for this project.
DerivePointerAlignment: false
PointerAlignment: Right
