# Based on templates from https://github.com/github/gitignore.
build/*
bin/*
.cproject
.project
keys/*
install/*
**/__pycache__
*.unison*
.vscode/
lib/*
hit_log/*

# Ignore third party.
third-party/*/**
!third-party/*/CMakeLists.txt
!third-party/boost/boost_ublas.zip
cmake-build-debug

# Ignore CMake
# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
